body{font-size: 12px}
#header{ background-image: url('top.jpg');
    background-repeat: repeat-x; height: 30px; width: 100%; }
#header h1{font-size: 16px;color: #fff;padding: 3px 10px; font-family:"微软雅黑","黑体"}